body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;

  &.modal-open {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
