.products-conteiner, .about-container, .advantages-container, .gallery__wrap, .customer-reviews__container, .contacts-container, .footer-page {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .products-conteiner, .about-container, .advantages-container, .gallery__wrap, .customer-reviews__container, .contacts-container, .footer-page {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .products-conteiner, .about-container, .advantages-container, .gallery__wrap, .customer-reviews__container, .contacts-container, .footer-page {
    width: 730px;
  }
}

@media screen and (min-width: 1280px) {
  .products-conteiner, .about-container, .advantages-container, .gallery__wrap, .customer-reviews__container, .contacts-container, .footer-page {
    width: 1080px;
  }
}

.advantages-title, .customer-reviews__title, .contacts-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-label {
  font-family: 'Titan One', sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .products-label {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .products-label {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-title {
  font-family: 'Titan One', sans-serif;
  text-align: center;
  font-size: 34px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 144px;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .products-title {
    font-size: 48px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .products-title {
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 259px;
  }
}

.products-ice-cream {
  padding: 161px 39px 41px 41px;
  border-radius: 24px;
  background: #ffb8ca;
  position: relative;
}

.products-ice-cream::before {
  content: ' ';
  background-image: url(../images/produkct-images/ice-cream.png);
  display: block;
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .products-ice-cream::before {
    top: 1%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products-ice-cream::before {
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 335px;
    height: 335px;
  }
}

.products-ice-coffee {
  padding: 161px 39px 41px 41px;
  border-radius: 24px;
  background: #f0d1a5;
  position: relative;
}

.products-ice-coffee::before {
  content: ' ';
  background-image: url(../images/produkct-images/ice-coffee.png);
  display: block;
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .products-ice-coffee::before {
    top: 1%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products-ice-coffee::before {
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 335px;
    height: 335px;
  }
}

.products-milkshakes {
  padding: 161px 39px 41px 41px;
  border-radius: 24px;
  background: #c2e297;
  position: relative;
}

.products-milkshakes::before {
  content: ' ';
  background-image: url(../images/produkct-images/milkshakes.png);
  display: block;
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .products-milkshakes::before {
    top: 1%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products-milkshakes::before {
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 335px;
    height: 335px;
  }
}

.products-list-item:not(:last-child) {
  margin-bottom: 130px;
}

.products-list-title {
  font-family: 'Titan One', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 66px;
  position: relative;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .products-list-title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 70px;
  }
}

.products-list-title::after {
  content: '';
  background-image: url(../images/produkct-images/points.png);
  display: block;
  position: absolute;
  bottom: -130%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 26px;
  height: 6px;
}

.products-list-text {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .products-list-text {
    line-height: 1.76;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list-text {
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 62px;
  }
}

.products-button {
  display: block;
  margin: 0 auto;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .products-list-item {
    width: calc((100% - 6 * 10px) / 3);
  }
  .products-list-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
  .products-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.about {
  background-color: #FFF5F6;
  padding-top: 125px;
  background-image: url(../images/about/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/about-bg-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
    background-image: none;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    padding-top: 125px;
    background-image: url(../images/about/about-bg-pc-1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/about-bg-pc-2x.png);
  }
}

.about-pretitle {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-top: 0;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about-pretitle {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about-pretitle {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.about-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .about-title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about-title {
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 46px;
}

.about-text-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

@media screen and (min-width: 768px) {
  .about-text-container {
    margin-top: 50px;
    margin-left: 17px;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .about-text-container {
    margin-top: 51px;
    margin-left: 74px;
  }
}

.about-text-1 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  margin-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .about-text-1 {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .about-text-1 {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.about-text-2 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  color: #907E82;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about-text-2 {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .about-text-2 {
    line-height: 1.94;
    margin-bottom: 35px;
  }
}

.about-text-3 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
  color: #907E82;
}

@media screen and (min-width: 768px) {
  .about-text-3 {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .about-text-3 {
    line-height: 1.94;
    margin-bottom: 45px;
  }
}

.about-readmore-btn {
  display: block;
  text-align: center;
  width: 176px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  border-radius: 22px;
  border: #FFFFFF;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #D41443;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about-readmore-btn:hover, .about-readmore-btn:focus {
  background: #ECEBEB;
}

@media screen and (min-width: 768px) {
  .about-readmore-btn {
    font-size: 16px;
    line-height: 1.31;
    margin-bottom: 66px;
    margin-left: 0;
  }
}

.about-readmore-svg {
  margin-left: 14px;
}

.advantages-container {
  width: 320px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .advantages-container {
    width: 730px;
    padding-bottom: 101px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-container {
    width: 1080px;
  }
}

.advantages {
  padding-top: 39px;
  background-color: #FFF5F6;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantages-item {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    width: 180px;
  }
  .advantages-item + .advantages-item {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-item {
    width: 330px;
  }
  .advantages-item + .advantages-item {
    margin-left: 30px;
  }
}

.advantages-item:not(:last-child) {
  padding-bottom: 38px;
}

.advantages-unit {
  display: block;
  font-family: Titan One;
  font-style: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 13px;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .advantages-unit {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-unit {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.advantages-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.70;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages-text {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-text {
    font-size: 16px;
    line-height: 1.76;
  }
}

.advantages-unit-01::before {
  content: "";
  background-image: url(../images/advantages/advantages-icon1.png);
  width: 33px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages-unit-01::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-unit-01::before {
    margin-bottom: 40px;
  }
}

.advantages-unit-02::before {
  content: "";
  background-image: url(../images/advantages/advantages-icon2.png);
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages-unit-02::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-unit-02::before {
    margin-bottom: 40px;
  }
}

.advantages-unit-03::before {
  content: "";
  background-image: url(../images/advantages/advantages-icon3.png);
  width: 44px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages-unit-03::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-unit-03::before {
    margin-bottom: 40px;
  }
}

.gallery {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(61%, #ffffff), color-stop(61%, #fff5f6), to(#fff5f6));
  background-image: linear-gradient(to top, #ffffff 61%, #fff5f6 61%, #fff5f6);
}

.gallery__image {
  display: block;
  width: 100%;
}

.customer-reviews {
  padding-top: 80px;
  padding-bottom: 170px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 121px;
    padding-bottom: 197px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews {
    padding-top: 123px;
    padding-bottom: 234px;
  }
}

.customer-reviews__image {
  display: block;
  margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
  .customer-reviews__image {
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__image {
    margin-bottom: 15px;
  }
}

.slider-text-wrapper {
  position: relative;
  background-color: #fafafa;
  padding: 44px 50px 16px;
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .slider-text-wrapper {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-text-wrapper {
    margin-bottom: 15px;
  }
}

.slider-text-wrapper::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 65px;
  display: block;
  background-image: url(../images/customer-reviews/quotes.svg);
  width: 54px;
  height: 40px;
}

@media screen and (min-width: 480px) {
  .slider-text-wrapper::before {
    left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .slider-text-wrapper::before {
    left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-text-wrapper::before {
    left: 35px;
  }
}

.slider-text {
  position: relative;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  padding: 0 18px;
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 31px);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .slider {
    width: 620px;
    margin: 0 auto;
  }
  .slider-text-wrapper {
    padding: 48px 60px 28px;
  }
  .slider-text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .slider {
    width: 926px;
  }
  .slider-text {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 4px;
  }
}

.customer-reviews__location {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .customer-reviews__location {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__location {
    font-size: 20px;
  }
}

.list {
  list-style: none;
}

.contacts-section {
  background-color: #fff5f6;
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(0, #ffffff), color-stop(0, #fff5f6), color-stop(0, #fff5f6));
  background-image: linear-gradient(to bottom, #ffffff 5%, #ffffff 0, #fff5f6 0, #fff5f6 0);
}

@media screen and (min-width: 768px) {
  .contacts-section {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #ffffff), color-stop(13%, #ffffff), color-stop(13%, #fff5f6), color-stop(13%, #fff5f6));
    background-image: linear-gradient(to bottom, #ffffff 13%, #ffffff 13%, #fff5f6 13%, #fff5f6 13%);
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 81px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    height: 100%;
    margin-bottom: 86px;
  }
}

.contacts-item {
  width: 220px;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

@media screen and (max-width: 1279px) {
  .contacts-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .contacts-item {
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
        flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-item {
    width: 330px;
    margin: 15px;
  }
}

.contacts-box {
  padding: 43px 21px 43px 20px;
}

@media screen and (min-width: 768px) {
  .contacts-box {
    padding: 50px 31px 50px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-box {
    padding: 51px 43px 62px 43px;
  }
}

.contacts-item__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  background-color: #f0d1a5;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  width: 80px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .contacts-item__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 6px;
    width: 73px;
    height: 28px;
  }
}

.contacts-item_name-box {
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts-item_name-box {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-item_name-box {
    padding-bottom: 32px;
  }
}

.contacts-item__title_green {
  background-color: #c2e297;
  width: 130px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .contacts-item__title_green {
    width: 138px;
    height: 28px;
  }
}

.contacts-item__city {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts-item__city {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.04em;
    border-color: #000000;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-item__city {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 10px;
  }
}

.contacts-item__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts-item__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.66;
    color: #907e82;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-item__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.83;
    color: #907e82;
  }
}

.contacts-timetable {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts-timetable {
    padding: 30px 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-timetable {
    padding: 32px 0;
  }
}

.contacts-timetable__days {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.66;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .contacts-timetable__days {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000000;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-timetable__days {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000000;
  }
}

.contacts-timetable__time {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .contacts-timetable__time {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    color: #ffa5ba;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-timetable__time {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.86;
    color: #ffa5ba;
  }
}

.working-days:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .working-days:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .working-days:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-list {
  padding-top: 25px;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-list {
    padding-top: 32px;
  }
}

.contacts__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #907e82;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.83;
    color: #907e82;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.83;
    color: #907e82;
  }
}

.contacts-btn {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .contacts-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts-btn__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .contacts-btn__item:last-child {
    margin-bottom: 0;
  }
}

.contacts-btn__item_red {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 17px;
  background-color: #907e82;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  text-align: center;
  width: 162px;
}

.contacts-btn__item_red:hover, .contacts-btn__item_red:focus {
  background-color: #c7133e;
}

@media screen and (min-width: 768px) {
  .contacts-btn__item_red {
    margin-right: 15px;
    padding: 12px 30px;
    width: 191px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-btn__item_red {
    margin-right: 15px;
    padding: 12px 35px;
    width: 198px;
  }
}

.contacts-btn__item_white {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #d41443;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 17px;
  background-color: #ffffff;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 161px;
  align-items: center;
  text-align: center;
}

.contacts-btn__item_white:hover, .contacts-btn__item_white:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .contacts-btn__item_white {
    padding: 12px 30px;
    width: 174px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-btn__item_white {
    padding: 12px 39px;
    width: 180px;
  }
}

.contacts-btn__icon_red {
  fill: #ffffff;
  margin-left: 8px;
}

.contacts-btn__icon_white {
  fill: #d41443;
  margin-left: 13px;
}

.btn {
  cursor: pointer;
  border: none;
}

footer {
  background-color: #FFF5F6;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  footer {
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    padding-bottom: 10px;
  }
}

.footer-page {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-information {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .footer-information {
    width: 232px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-information {
    width: calc(100% - 50%);
  }
}

.footer-text__first {
  font-family: "Titan One",sans-serif;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #FFA5BA;
}

@media screen and (max-width: 767px) {
  .footer-text__first {
    font-size: 18px;
    line-height: calc(21 / 18);
  }
}

@media screen and (min-width: 768px) {
  .footer-text__first {
    font-size: 26px;
    line-height: calc(30 / 26);
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .footer-text__first {
    font-size: 30px;
    line-height: calc(34 / 30);
    letter-spacing: 0.04em;
  }
}

.footer-text__second {
  font-family: "Titan One",sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (max-width: 767px) {
  .footer-text__second {
    font-size: 34px;
    line-height: calc(39 / 34);
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 768px) {
  .footer-text__second {
    font-size: 48px;
    line-height: calc(55 / 48);
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1280px) {
  .footer-text__second {
    font-size: 58px;
    line-height: calc(66 / 58);
    letter-spacing: 0.06em;
  }
}

.footer-contacts {
  text-align: right;
  margin-bottom: 45px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

@media screen and (min-width: 1280px) {
  .footer-list {
    margin-bottom: 50px;
  }
}

.footer-list__item {
  margin-right: 29px;
  background-color: #FEA5BB;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) {
  .footer-list__item {
    width: 33px;
    height: 33px;
  }
}

.footer-list__item:last-child {
  margin-right: 0;
}

.footer-list__item:hover, .footer-list__item:focus {
  background-color: #d41443;
}

.footer-list__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__icon {
  fill: #ffffff;
}

.footer-tel {
  font-weight: 700;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .footer-tel {
    font-size: 12px;
    line-height: calc(22 / 12);
  }
}

@media screen and (min-width: 768px) {
  .footer-tel {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
}

@media screen and (min-width: 1280px) {
  .footer-tel {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.02em;
  }
}

.footer-tel__link {
  font-weight: 700;
  color: #d41443;
}

.footer-wrap-last {
  border-top: 1px solid #E1E1E1;
  padding-top: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-wrap-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-wrap-last__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  display: block;
  text-align: center;
  color: #907E82;
}

@media screen and (min-width: 768px) {
  .footer-wrap-last__text {
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
    display: inline;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 94px 15px;
  opacity: 1;
  overflow-y: scroll;
  z-index: 5;
  background-color: rgba(255, 184, 202, 0.5);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 30px;
  background-color: #e17992;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal__button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  color: #d41443;
}

.modal__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon {
  fill: #d41443;
}

.form__title {
  font-family: Titan One;
  margin-bottom: 12px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #d41443;
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.2;
  }
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}

.form__field:nth-child(4) {
  margin-bottom: 30px;
}

.form__label {
  position: absolute;
  top: 13px;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  z-index: 2;
  color: #d41443;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  width: 100%;
  padding: 11px 16px;
  color: #d41443;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form__input:focus {
  border-color: #d41443;
  outline: none;
}

.form__input:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  color: #ffffff;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000000;
}

.form__input:focus + .form__icon {
  fill: #d41443;
}

.form__container {
  position: relative;
}

.form__textarea {
  padding: 12px 16px;
  height: 120px;
  color: #d41443;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}

.form__textarea:focus {
  border-color: #d41443;
  outline: none;
}

.form__textarea:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  color: #ffffff;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #d41443;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover, .form__button:focus {
  background-color: #ffffff;
  color: #d41443;
}

.modal__button-text {
  margin-right: 5px;
}

.modal__button-icon {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover .modal__button-icon {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}
/*# sourceMappingURL=main.css.map */