<section class="advantages">
    <div class="advantages-container">
        <h2 class="advantages-title">
            Advantages
        </h2>
        <ul class="advantages-list">
            <li class="advantages-item">
                <span class="advantages-unit advantages-unit-01">721</span>
                <p class="advantages-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <span class="advantages-unit advantages-unit-02">16kg</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
            </li>
            <li class="advantages-item">
                <span class="advantages-unit advantages-unit-03">84</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>                
        </ul>    
    </div>
</section>