<section class="contacts-section" id="contacts">
  <!-- Заголовок скрыт -->
  <h2 class="contacts-title">Contacts</h2>
  <div class="contacts-container">
    <ul class="contacts">
      <li class="contacts-item">
        <!---- див оборачивает всю карточку ---->
        <div class="contacts-box">
          <div class="contacts-item_name-box">
            <p class="contacts-item__title">CAFE</p>
            <p class="contacts-item__city">Chicago</p>
            <p class="contacts-item__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <!-- время работы -->
          <ul class="contacts-timetable">
            <li class="working-days">
              <p class="contacts-timetable__days">Monday - Friday</p>
              <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="working-days">
              <p class="contacts-timetable__days">Saturday - Sunday</p>
              <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <!--Наши контакты -->

          <ul class="contacts-list">
            <li>
              <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-item">
        <!-- див оборачивает всю карточку -->
        <div class="contacts-box">
          <div class="contacts-item_name-box">
            <p class="contacts-item__title contacts-item__title_green">FOODTRUCK</p>
            <p class="contacts-item__city">Los Angeles</p>
            <p class="contacts-item__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <!-- время работы -->
          <ul class="contacts-timetable">
            <li class="working-days">
              <p class="contacts-timetable__days">Monday - Friday</p>
              <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
            </li>

            <li class="working-days">
              <p class="contacts-timetable__days">Saturday - Sunday</p>
              <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <!--Наши контакты -->

          <ul class="contacts-list">
            <li>
              <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-item">
        <!-- див оборачивает всю карточку -->
        <div class="contacts-box">
          <div class="contacts-item_name-box">
            <p class="contacts-item__title">CAFE</p>
            <p class="contacts-item__city">New York</p>
            <p class="contacts-item__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <!-- время работы -->
          <ul class="contacts-timetable">
            <li class="working-days">
              <p class="contacts-timetable__days">Monday - Friday</p>
              <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
            </li>

            <li class="working-days">
              <p class="contacts-timetable__days">Saturday - Sunday</p>
              <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <!--Наши контакты -->

          <ul class="contacts-list">
            <li>
              <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts-btn">
      <li class="contacts-btn__item">
        <a
          class="contacts-btn__item_red btn"
          href="https://goo.gl/maps/koLmtxfHXCnK4WAx7"
          target="_blank"
          >Our locations
          <svg class="contacts-btn__icon_red" width="7" height="10">
            <use href="/images/contacts/icon.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="contacts-btn__item">
        <!-- ниже строчка для модалки -->
        <!-- <button type="button" class="contacts-btn__item_white btn" data-modal-open> -->
        <button type="button" class="contacts-btn__item_white btn">
          Franchise
          <svg class="contacts-btn__icon_white" width="7" height="10">
            <use href="/images/contacts/icon.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
