<section class="customer-reviews">
  <div class="customer-reviews__wrap">
    <h3 class="customer-reviews__title">Отзывы клиентов</h3>
    <picture class="customer-reviews__image">
      <source
        srcset="
          ./images/customer-reviews/cust-rev-1-1x.png 1x,
          ./images/customer-reviews/cust-rev-1-2x.png 2x
        "
      />
      <img src="./images/customer-reviews/cust-rev-1-1x.png" alt="фото клиента" />
    </picture>
    <span class="customer-reviews__review"
      >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span
    >
    <p class="customer-reviews__location">Emily, Los Angeles</p>
  </div>
</section>
</section>