<section class="customer-reviews" id="customer-reviews">
  <h3 class="customer-reviews__title">Отзывы клиентов</h3>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture class="customer-reviews__image">
          <source
            srcset="
              ./images/customer-reviews/cust-rev-1-1x.png 1x,
              ./images/customer-reviews/cust-rev-1-2x.png 2x
            "
          />
          <img src="./images/customer-reviews/cust-rev-1-1x.png" alt="фото клиента" />
        </picture>
        <div class="customer-reviews__container">
          <div class="slider">
            <div class="slider-text-wrapper">
              <p class="slider-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <ul class="slider-point-list">
          <li class="slider-point-item"></li>
          <li class="slider-point-item"></li>
          <li class="slider-point-item"></li>
        </ul>
        <p class="customer-reviews__location">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide">
        <picture class="customer-reviews__image">
          <source
            srcset="
              ./images/customer-reviews/cust-rev-2-1x.png 1x,
              ./images/customer-reviews/cust-rev-2-2x.png 2x
            "
          />
          <img src="./images/customer-reviews/cust-rev-2-1x.png" alt="фото клиента" />
        </picture>
        <div class="customer-reviews__container">
          <div class="slider">
            <div class="slider-text-wrapper">
              <p class="slider-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit expedita sit,
                deserunt tenetur nam saepe laboriosam sint ea dolores debitis corporis, possimus
                ratione? Enim.
              </p>
            </div>
          </div>
        </div>
        <ul class="slider-point-list">
          <li class="slider-point-item"></li>
          <li class="slider-point-item"></li>
          <li class="slider-point-item"></li>
        </ul>
        <p class="customer-reviews__location">Galina, Kyiv</p>
      </div>
      <div class="swiper-slide">
        <picture class="customer-reviews__image">
          <source
            srcset="
              ./images/customer-reviews/cust-rev-3-1x.png 1x,
              ./images/customer-reviews/cust-rev-3-2x.png 2x
            "
          />
          <img src="./images/customer-reviews/cust-rev-3-1x.png" alt="фото клиента" />
        </picture>
        <div class="customer-reviews__container">
          <div class="slider">
            <div class="slider-text-wrapper">
              <p class="slider-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem amet architecto nam
                deserunt provident fugiat, eum obcaecati quasi esse perferendis molestias doloribus.
                Iusto, ratione.
              </p>
            </div>
          </div>
        </div>
        <ul class="slider-point-list">
          <li class="slider-point-item"></li>
          <li class="slider-point-item"></li>
          <li class="slider-point-item"></li>
        </ul>
        <p class="customer-reviews__location">Devora, Zimbabve</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
