<footer>
    <div class="footer-page">
        <div class="footer-wrap-first">
            <div class="footer-information">
                <p class="footer-text__first">homemade ice cream made</p>
                <p class="footer-text__second">with passion</p>
            </div>
            <div class="footer-contacts">
                <ul class="footer-list">
                    <li class="footer-list__item">
                        <a class="footer-list__link" href="https://github.com/github">
                            <svg class="footer-list__icon" width="18" height="18">
                                <use href="./images/footer/symbol-defs.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-list__item">
                        <a class="footer-list__link" href="https://web.telegram.org/k/">
                            <svg class="footer-list__icon" width="18" height="18">
                                <use href="./images/footer/symbol-defs.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-list__item">
                        <a class="footer-list__link" href="https://ru-ru.facebook.com/login/web/">
                            <svg class="footer-list__icon" width="18" height="18">
                                <use href="./images/footer/symbol-defs.svg#feysbok"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer-tel">Feel free to contact <a class="footer-tel__link" href="tel:+61(0)383766284">
                        +61 (0) 383 766 284</a></p>
            </div>
        </div>
        <div class="footer-wrap-last">
            <span class="footer-wrap-last__text">&copy; 2019 - IceCream.</span>
            <span class="footer-wrap-last__text">All Rights Reserved.</span>
        </div>
    </div>
</footer>