<section class="gallery">
  <div class="gallery__wrap">
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-v2/gallery-1-1-1x.jpg 1x,
              ./images/gallery/gallery-v2/gallery-1-1-2x.jpg 2x
            "
          />
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-1-1-1x.jpg"
            alt="изображение с мороженным"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-2-1-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-2-1-2x.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-v2/gallery-2-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-2-2-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-2-2-2x.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-v2/gallery-2-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-3-1-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-3-1-2x.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-v2/gallery-3-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-3-2-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-3-2-2x.jpg 2x
              "
            />
            <img
              class="gallery__image gallery__image-half"
              src="./images/gallery/gallery-v2/gallery-3-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-4-1-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-4-1-2x.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-v2/gallery-4-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-4-2-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-4-2-2x.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-v2/gallery-4-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-5-1-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-5-1-2x.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-v2/gallery-5-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-v2/gallery-5-2-1x.jpg 1x,
                ./images/gallery/gallery-v2/gallery-5-2-2x.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-v2/gallery-5-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-v2/gallery-6-1-1x.jpg 1x,
              ./images/gallery/gallery-v2/gallery-6-1-2x.jpg 2x
            "
          />
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-6-1-1x.jpg"
            alt="изображение с мороженным"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
