<section class="gallery">
  <div class="gallery__wrap">
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/gallery-desk/gallery-1-1-1x.jpg 1x,
              ./images/gallery/gallery-desk/gallery-1-1-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-tab/gallery-1-1-1x-tab.jpg 1x,
              ./images/gallery/gallery-tab/gallery-1-1-2x-tab.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-mob/gallery-1-1-1x-mob.jpg 1x,
              ./images/gallery/gallery-mob/gallery-1-1-2x-mob.jpg 2x
            "
          />

          <img
            class="gallery__image"
            src="./images/gallery/gallery-desk/gallery-1-1-1x.jpg"
            alt="изображение с мороженным"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <div class="gallery__thumb">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-2-1-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-2-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-2-1-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-2-1-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-2-1-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-2-1-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-2-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-2-2-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-2-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-2-2-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-2-2-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-2-2-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-2-2-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-2-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__thumb">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-3-1-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-3-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-3-1-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-3-1-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-3-1-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-3-1-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-3-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-3-2-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-3-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-3-2-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-3-2-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-3-2-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-3-2-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image gallery__image-half"
              src="./images/gallery/gallery-desk/gallery-3-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__thumb">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-4-1-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-4-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-4-1-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-4-1-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-4-1-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-4-1-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-4-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-4-2-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-4-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-4-2-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-4-2-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-4-2-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-4-2-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-4-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__thumb">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-5-1-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-5-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-5-1-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-5-1-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-5-1-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-5-1-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-5-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-5-2-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-5-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-5-2-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-5-2-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-5-2-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-5-2-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-5-2-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__trhumb">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/gallery-desk/gallery-6-1-1x.jpg 1x,
                ./images/gallery/gallery-desk/gallery-6-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-tab/gallery-6-1-1x-tab.jpg 1x,
                ./images/gallery/gallery-tab/gallery-6-1-2x-tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/gallery-mob/gallery-6-1-1x-mob.jpg 1x,
                ./images/gallery/gallery-mob/gallery-6-1-2x-mob.jpg 2x
              "
            />
            <img
              class="gallery__image"
              src="./images/gallery/gallery-desk/gallery-6-1-1x.jpg"
              alt="изображение с мороженным"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
