<section class="gallery">
  <div class="gallery__wrap">
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/gallery-v2/gallery-1-1-1x.jpg"
          alt="изображение с мороженным"
        />
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-2-1-1x.jpg"
            alt="изображение с мороженным"
          />
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-2-2-1x.jpg"
            alt="изображение с мороженным"
          />
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <img
            class="gallery__image gallery__image-half"
            src="./images/gallery/gallery-v2/gallery-3-1-1x.jpg"
            alt="изображение с мороженным"
          />
          <img
            class="gallery__image gallery__image-half"
            src="./images/gallery/gallery-v2/gallery-3-2-1x.jpg"
            alt="изображение с мороженным"
          />
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-4-1-1x.jpg"
            alt="изображение с мороженным"
          />
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-4-2-1x.jpg"
            alt="изображение с мороженным"
          />
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__trhumb">
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-5-1-1x.jpg"
            alt="изображение с мороженным"
          />
          <img
            class="gallery__image"
            src="./images/gallery/gallery-v2/gallery-5-2-1x.jpg"
            alt="изображение с мороженным"
          />
        </div>
      </li>
      <li class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/gallery-v2/gallery-6-1-1x.jpg"
          alt="изображение с мороженным"
        />
      </li>
    </ul>
  </div>
</section>
