<header class="header">
  <div class="header-container">
    <a href="" class="header-logo"></a>
    <ul class="header-nav">
      <li class="header-nav__list"><a href="" class="header-nav__link">Home</a></li>
      <li class="header-nav__list"><a href="" class="header-nav__link">About us</a></li>
      <li class="header-nav__list"><a href="" class="header-nav__link">How it’s made?</a></li>
      <li class="header-nav__list"><a href="" class="header-nav__link">Our products</a></li>
      <li class="header-nav__list"><a href="" class="header-nav__link">Contact</a></li>
    </ul>
    <button type="button" class="header-button">Buy now</button>
  </div>
</header>
