<header class="header">
    <div class="header-container">
        <a href="#" class="header-logo">
            <img src="./images/hero-header/logo.png" alt="logo">
        </a>
        <button type="button" class="header-menu-button" aria-expanded="true" aria-controls="menu-container"
            data-menu-button>
            <svg width="10" height="10" aria-label="Переключатель мобильного меню">
                <use class="icon-menu" href="/images/hero-header/header-icons.svg#icon-header-burger-menu"></use>
                <use class="icon-cross" href="/images/hero-header/header-icons.svg#icon-header-cross-menu"></use>
            </svg>
        </button>
        <ul class="header-nav">
            <li class="header-nav__list"><a href="" class="header-nav__link">Home</a></li>
            <li class="header-nav__list"><a href="" class="header-nav__link">About us</a></li>
            <li class="header-nav__list"><a href="" class="header-nav__link">How it’s made?</a></li>
            <li class="header-nav__list"><a href="" class="header-nav__link">Our products</a></li>
            <li class="header-nav__list"><a href="" class="header-nav__link">Contact</a></li>
        </ul>
        <button type="button" class="header-button">Buy now</button>
    </div>
</header>