<section class="hero">
    <div class="hero-container">
        <div class="hero-wrapper">
            <h1 class="hero__title">
                ice cream <br />
                made with<br /><span class="hero__title--mod">passion</span>
            </h1>
            <ul class="hero-achievements">
                <li class="hero-achievements__item">
                    <span class="hero-achievements__item--mod">16</span>cafes
                </li>
                <li class="hero-achievements__item">
                    <span class="hero-achievements__item--mod">23</span>food trucks
                </li>
            </ul>
        </div>

        <ul class="hero-list">
            <li class="hero-list__item"><a href="#products" class="hero__btn--first">Products</a></li>
            <li class="hero-list__item"><a href="#about" class="hero__btn--second">How it’s made?</a></li>
        </ul>

        <div class="hero-bottom">
            <p class="hero__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
            </p>
            <img class="hero-bottom__arrow" src="./images/hero-header/arrow-right.png" alt="arrow right" />
        </div>
        <div class="hero-icecream">
            <picture>
                <source media="(min-width: 1280px)" srcset="
            ./images/hero-header/hero-image-desktop.png    1x,
            ./images/hero-header/hero-image-desktop@2x.png 2x
          " />
                <source media="(min-width: 768px)" srcset="
            ./images/hero-header/hero-image-tablet.png    1x,
            ./images/hero-header/hero-image-tablet@2x.png 2x
          " />
                <source media="(min-width: 320px)" srcset="
            ./images/hero-header/hero-image-mobile.png    1x,
            ./images/hero-header/hero-image-mobile@2x.png 2x
          " />
                <img class="hero-image-main" src="./images/hero-header/hero-image-mobile.png" alt="an ice cream cone" />
            </picture>
        </div>
        <picture>
            <source media="(min-width: 1280px)" srcset="
          ./images/hero-header/hero-image-desktop2.png    1x,
          ./images/hero-header/hero-image-desktop2@2x.png 2x
        " />
            <source media="(min-width: 768px)" srcset="
          ./images/hero-header/hero-image-tablet2.png    1x,
          ./images/hero-header/hero-image-tablet2@2x.png 2x
        " />
            <img class="hero-image-secondary" src="./images/hero-header/hero-image-tablet2.png"
                alt="girl hold an ice cream" />
        </picture>
        <picture>
            <source media="(min-width: 1280px)" srcset="
          ./images/hero-header/hero-image-desktop3.png    1x,
          ./images/hero-header/hero-image-desktop3@2x.png 2x
        " />
            <source media="(min-width: 768px)" srcset="
          ./images/hero-header/hero-image-tablet3.png    1x,
          ./images/hero-header/hero-image-tablet3@2x.png 2x
        " />
            <img class="hero-image-tertiary" src="./images/hero-header/hero-image-tablet3.png" alt="a jug of milk" />
        </picture>
        <picture>
            <source media="(min-width: 1280px)" srcset="./images/hero-header/hero-tablet-ellipse.png 1x" />
            <source media="(min-width: 768px)" srcset="./images/hero-header/hero-desktop-ellipse.png 1x" />
            <img class="hero-tablet-ellipse" src="./images/hero-header/hero-tablet-ellipse.png" alt="an ellipse" />
        </picture>
    </div>
</section>