<section class="hero">
    <div class="hero-container">
        <h1 class="hero__title"><span class="hero__title--mod">ice cream made with</span>passion</h1>
        <ul class="hero-list">
            <li class="hero-list__item"><a href="" class="hero-list__link">Products</a></li>
            <li class="hero-list__item"><a href="" class="hero-list__link">How it’s made?</a></li>
        </ul>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et</p>
        <ul class="hero-list">
            <li class="hero-list__item"><a href="" class="hero-list__link">Products</a></li>
            <li class="hero-list__item"><a href="" class="hero-list__link">How it’s made?</a></li>
        </ul>
        <ul class="hero-achievements">
            <li class="hero-achievements__item"><span class="hero-achievements__item--mod">16</span>cafes</li>
            <li class="hero-achievements__item"><span class="hero-achievements__item--mod">23</span>food trucks</li>
        </ul>
        <img src="" alt="ice cream cone">
        <img src="" alt="jug of milk">
        <img src="" alt="girl with ice cream cone">
    </div>
</section>