<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button" data-modal-close>
      <svg class="modal__icon" width="22px" height="22px">
        <use href="./images/sprite-modal.svg#close"></use>
      </svg>
    </button>
    <form class="form">
      <p class="form__title">Buy now</p>

      <label class="form__field">
        <input type="text" name="name" class="form__input" placeholder=" " />
        <span class="form__label">Name</span>
      </label>

      <label class="form__field">
        <input type="tel" name="tel" class="form__input" placeholder=" " />
        <span class="form__label"> Mobile number</span>
      </label>

      <label class="form__field">
        <textarea name="comment" class="form__textarea" placeholder=" "></textarea>
        <span class="form__label">Message to send</span>
      </label>
      <button class="form__button" type="submit">
        <span class="modal__button-text">let's go</span>
        <svg class="modal__button-icon" width="35px" height="35px">
          <use href="./images/sprite-modal.svg#ice-cream"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
