<!-- modal -->
<div class="backdrop is-hidden" data-modal2>
  <div class="modal2">
    <button class="modal__button" data-modal2-close>
      <svg class="modal__icon" width="22px" height="22px">
        <use href="./images/sprite-modal.svg#close"></use>
      </svg>
    </button>
    <div class="modal2-text-container">
        <h2 class="modal2-title">how it’s made?</h2>
        <p class="modal2-text1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="modal2-text2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="modal2-text3">Aliquam erat volutpat. Aenean accumsan.</p>
    </div>
  </div>
</div>