footer {
    background-color: #FFF5F6;
    width: 100vw;
    height: 100vh;
    @media screen and (min-width: 320px) {
        padding: 20px;
    }
}

.footer-page {
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
}

.footer-text__first {
    font-family: Titan One;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(21 / 18);
    text-transform: uppercase;

    color: #FFA5BA;
}
.footer-text__second {
    font-family: Titan One;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(39 / 34);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;
}

.footer-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 45px;

    &__item {
        margin-right: 29px;

        background-color: #FEA5BB;
        border-radius: 50%;
        
        @media screen and (min-width: 320px) {
            width: 33px;
            height: 33px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__link {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        fill: #ffffff;
    }
}
.contacts {
    text-align: right;
}
.footer-tel{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22 /12);
    
    color: #000000;

    @media screen and (max-width:767px) {
        margin-bottom: 20px;
    }
    &__link{
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: calc(22 / 12);
        
        color: #D41443;
        }
}
.last-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14);

    display: block;
    text-align: center;

    border-top: 1px solid #E1E1E1;
    
    color: #907E82;
    @media screen and (max-width:767px) {
        padding-top: 20px;
    }
}