.gallery {
  background-image: linear-gradient(to top, #ffffff 61%, #fff5f6 61%, #fff5f6);
}
.gallery__wrap {
  @extend %adaptive-container;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1050px;
  }
}
.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__item:first-child {
  margin-left: 20px;
}
.gallery__item:last-child {
  margin-right: 20px;
}

.gallery__item:not(:last-child) {
  margin-right: 6px;
}
.gallery__item:nth-child(1n) {
  width: calc((100% - 70px) / 7);
}
.gallery__item:nth-child(2n) {
  width: calc((100% - 70px) / 7);
}
.gallery__item:nth-child(3n) {
  width: calc((100% - 70px) / 3.5);
}
.gallery__item:nth-child(4n) {
  padding-top: 5%;
  width: calc((100% - 70px) / 7);
}
.gallery__item:nth-child(5n) {
  padding-bottom: 5%;
  width: calc((100% - 70px) / 7);
}
.gallery__item:nth-child(6n) {
  width: calc((100% - 70px) / 7);
}
.gallery__image {
  width: 100%;
  height: auto;
  border-radius: 20%;
  transition-property: transform;
  transition-duration: 500ms;
}
.gallery__image-half {
  width: 50%;
}
.gallery__image:hover,
.gallery__image:focus {
  transform: scale(1.4);
}
