.gallery {
  background-image: linear-gradient(to top, #ffffff 61%, #fff5f6 61%, #fff5f6);
}
.gallery__wrap {
  @extend %adaptive-container;
  @media screen and (min-width: 768px) {
    width: 786px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.gallery__image {
  display: block;
  width: 100%;
}
