.header {
  background: #ffb8ca;
}

.header-container {
  position: relative;
  @extend %adaptive-container;
  display: flex;
  justify-content: space-between;
  padding: 6px 20px 0;
}

.header-logo img {
  display: block;
}

.header-button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav {
  display: flex;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.header-menu-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
