.header {
  background: #ffb8ca;
}

.header-container {
  position: relative;
  @extend %adaptive-container;
  display: flex;
  justify-content: space-between;
  padding: 6px 20px 0;

  @media screen and (min-width: 768px) {
    padding: 38px 34px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 6px 20px 0;
  }
}

.header-logo img {
  display: block;
}

.header-button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 160px;
  height: 44px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 20px;

  color: #d41443;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
  }
}

.header-nav {
  display: flex;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.header-menu-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 25px;
  transform: translate(-50%, -50%);

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 70%;
    right: 30%;
  }
  @media screen and (min-width: 1280px) {
  }
}
