.hero {
  background: #ffb8ca;
}

.hero-container {
  @extend %adaptive-container;
  padding: 193px 20px 160px;

  background: url(../images/hero-header/hero-image-mobile.png) no-repeat top 100% left 75%,
    url(../images/hero-header/hero-image-ellipse.png) no-repeat top 25% right -55px;
  background-size: 171px 410px, 346px 344px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero-header/hero-image-mobile@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero-header/hero-image-tablet.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/hero-image-tablet@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/hero-header/hero-image-desktop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/hero-image-desktop@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 94px 34px 34px;
  }
  @media screen and (min-width: 1280px) {
    padding: 156px 94px 56px 115px;
  }
}

.hero-container img {
  display: block;
}

.hero-picture__secondary--left,
.hero-picture__secondary--right {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__title {
  font-family: Titan One;
  color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;

  &--mod {
    font-size: 48px;
    line-height: 96.5%;
    color: #d41443;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;
  }
}

.hero-list {
  display: flex;
  margin-bottom: 66px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 112px;
  }
}

.hero__text {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-achievements {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__btn {
  &--first {
    width: 61px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: DM Sans;
    font-size: 8px;
    line-height: 10px;

    background: #d41443;
    border-radius: 20px;

    color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
    &:hover,
    &:focus {
      background: #c7133e;
    }

    &:first-child {
      margin-right: 8px;
    }

    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 10px;
    }
    @media screen and (min-width: 1280px) {
      width: 104px;
      height: 40px;

      font-size: 14px;
      line-height: 18px;

      &:first-child {
        margin-right: 15px;
      }
    }
  }

  &--second {
    width: 83px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: DM Sans;
    font-size: 8px;
    line-height: 10px;

    background: #ffffff;
    border-radius: 20px;

    color: #d41443;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 10px;
    }

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
      width: 138px;
      height: 40px;

      font-size: 14px;
      line-height: 18px;
    }
  }
}
